// fonts
$base-font-size: 8px;
$medium-font-size: 12px;
$large-font-size: 16px;
$xl-font-size: 32px;
$xxl-font-size: 40px;

// distances
$dist-2xs: 4px;
$dist-xs: 8px;
$dist-s: 16px;
$dist-m: 24px;
$dist-l: 32px;
$dist-xl: 40px;
$dist-2xl: 48px;
$dist-3xl: 56px;
$dist-4xl: 64px;
$dist-5xl: 72px;
$dist-6xl: 80px;

// colors
$porcelain: #F0F1F2;
$white: #FFFFFF;
$ruby: #D81159;
