$button-success: #a7f226;

.button-base {
  margin: 20px;
  background: $button-success;
  padding: 10px;
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background: darken($button-success, 10%);
  }
}
