@import "../../_settings/variables.scss";

.button-base {
  margin: 30px;
  background: $ruby;
  padding: 3px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.small-button {
  width: 100px;
}

.medium-button {
  width: 200px;
}

.large-button {
  width: 250px;
}
